*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/***** Ingredients section *****/

.ingredients_container {
    margin: 0 20px 20px;
}

.article_title {
    font-family: 'Century Gothic', sans-serif;
    color: #C72E19;
    padding: 20px 0px 5px;
    font-size: 26px;
}

.article_paragraph {
    font-family: 'Corbel', sans-serif;
    color: #C72E19;
    font-weight: lighter;
    text-align: justify;
    font-size: 22px;
}

table, th, td {
  border: 1px solid #C72E19;
}

table {
   font-family: 'Corbel', sans-serif;
    color: #C72E19;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th {
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}

@media only screen and (min-width: 1037px) {
    .ingredients_container {
        margin: 20px 160px 40px;

    }

    .article_title {
        font-size: 26px;
        padding: 20px 20px 0;
    }

    .article_paragraph {
        padding: 0 20px 20px 20px;
    }

    table {
        margin: 20px;
        width: 96%
    }
}
